In [1]:
from __future__ import print_function
import numpy as np
from pandas import Series, DataFrame
import pandas
import pandas as pd
import pylab as py

%pylab inline

import os

Populating the interactive namespace from numpy and matplotlib

In [2]:
PUIdata = os.getenv('DFDATA')

print (PUIdata)

/gws/open/NYCOpenData/nycopendata/data

In [8]:
df_collisions = pd.read_csv(PUIdata + '/h9gi-nx95/1428430582/h9gi-nx95')

df_collisions

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,04/04/2015,9:25,MANHATTAN,10001.0,40.750788,-74.005630,"(40.7507879, -74.0056304)",WEST 26 STREET,11 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3197298,PICK-UP TRUCK,LIVERY VEHICLE,NaN,NaN,NaN
1,04/04/2015,21:15,QUEENS,11357.0,40.781291,-73.814200,"(40.7812915, -73.8141997)",20 AVENUE,150 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3198105,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
2,04/04/2015,16:52,QUEENS,11385.0,40.702595,-73.855293,"(40.7025952, -73.8552926)",WOODHAVEN BOULEVARD,MYRTLE AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3197589,PASSENGER VEHICLE,OTHER,NaN,NaN,NaN
3,04/04/2015,9:30,MANHATTAN,10025.0,40.804886,-73.962474,"(40.8048862, -73.9624735)",WEST 113 STREET,AMSTERDAM AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3197369,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
4,04/04/2015,9:41,QUEENS,11428.0,40.715144,-73.749356,"(40.7151436, -73.7493556)",211 STREET,JAMAICA AVENUE,NaN,...,NaN,NaN,NaN,NaN,3197601,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
5,04/04/2015,9:45,BROOKLYN,11217.0,40.687945,-73.981401,"(40.6879453, -73.9814013)",LIVINGSTON STREET,NEVINS STREET,NaN,...,Unspecified,NaN,NaN,NaN,3197540,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
6,04/04/2015,9:45,QUEENS,11354.0,40.766886,-73.823951,"(40.766886, -73.823951)",PARSONS BOULEVARD,34 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3197663,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
7,04/04/2015,9:50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3197756,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
8,04/04/2015,16:52,BROOKLYN,11219.0,40.626362,-74.008300,"(40.6263619, -74.0083001)",BAY RIDGE AVENUE,11 AVENUE,NaN,...,Unspecified,Unspecified,NaN,NaN,3197972,LARGE COM VEH(6 OR MORE TIRES),PASSENGER VEHICLE,SMALL COM VEH(4 TIRES),NaN,NaN
9,04/04/2015,13:00,QUEENS,11354.0,40.763942,-73.828146,"(40.7639417, -73.8281463)",NORTHERN BOULEVARD,UNION STREET,NaN,...,Unspecified,NaN,NaN,NaN,3197668,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
10,04/04/2015,9:54,MANHATTAN,10065.0,40.769270,-73.969364,"(40.7692698, -73.9693638)",5 AVENUE,EAST 67 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3197346,TAXI,LIVERY VEHICLE,NaN,NaN,NaN
11,04/04/2015,9:55,NaN,NaN,40.749472,-73.756393,"(40.7494725, -73.7563932)",NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3197684,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
12,04/04/2015,6:44,NaN,NaN,NaN,NaN,NaN,GUNTHER AVENUE,EAST GUN HILL ROAD,NaN,...,Unspecified,NaN,NaN,NaN,3197425,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
13,04/04/2015,6:45,BROOKLYN,11209.0,40.631464,-74.027792,"(40.6314641, -74.0277916)",BAY RIDGE PARKWAY,3 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3197485,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
14,04/04/2015,1:00,QUEENS,11436.0,40.674292,-73.800636,"(40.6742917, -73.8006363)",140 STREET,ROCKAWAY BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,3197697,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
15,04/04/2015,6:45,QUEENS,11356.0,40.780147,-73.847848,"(40.7801469, -73.8478483)",120 STREET,22 AVENUE,NaN,...,Unspecified,Unspecified,NaN,NaN,3197659,PASSENGER VEHICLE,UNKNOWN,PASSENGER VEHICLE,NaN,NaN
16,04/04/2015,17:00,QUEENS,11377.0,40.745392,-73.905580,"(40.7453916, -73.9055801)",ROOSEVELT AVENUE,59 STREET,NaN,...,Other Vehicular,NaN,NaN,NaN,3198097,PASSENGER VEHICLE,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN
17,04/04/2015,6:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Obstruction/Debris,NaN,NaN,NaN,3197413,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
18,04/04/2015,7:00,BRONX,10472.0,40.829502,-73.874609,"(40.8295019, -73.8746089)",MORRISON AVENUE,WESTCHESTER AVENUE,NaN,...,NaN,NaN,NaN,NaN,3197402,UNKNOWN,NaN,NaN,NaN,NaN
19,04/04/2015,13:00,STATEN ISLAND,10312.0,40.560249,-74.169735,"(40.560249, -74.1697354)",RICHMOND AVENUE,WAINWRIGHT AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3197745,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
20,04/04/2015,7:00,QUEENS,11421.0,40.691868,-73.858828,"(40.6918676, -73.8588282)",85 STREET,87 AVENUE,NaN,...,Unspecified,Unspecified,Unspecified,NaN,3197582,PASSENGER VEHICLE,TAXI,PASSENGER VEHICLE,UNKNOWN,NaN
21,04/04/2015,7:10,QUEENS,11355.0,40.753450,-73.827451,"(40.7534502, -73.8274515)",MAIN STREET,BLOSSOM AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3197660,PICK-UP TRUCK,PASSENGER VEHICLE,NaN,NaN,NaN
22,04/04/2015,7:30,BRONX,10467.0,40.882709,-73.881246,"(40.8827095, -73.8812458)",GUN HILL ROAD,JEROME AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3197941,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
23,04/04/2015,7:30,NaN,NaN,NaN,NaN,NaN,HAMPTON PLACE,CYPRESS LOOP,NaN,...,Unspecified,NaN,NaN,NaN,3197755,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
24,04/04/2015,13:00,NaN,NaN,NaN,NaN,NaN,1 AVENUE,EAST 28 STREET,NaN,...,NaN,NaN,NaN,NaN,3197303,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
25,04/04/2015,13:00,NaN,NaN,NaN,NaN,NaN,FULTON STREET,UTICA AVENUE,NaN,...,Other Vehicular,NaN,NaN,NaN,3198016,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
26,04/04/2015,16:55,QUEENS,11417.0,40.680027,-73.839965,"(40.6800266, -73.8399647)",ROCKAWAY BOULEVARD,99 STREET,NaN,...,Unspecified,NaN,NaN,NaN,3198088,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
27,04/04/2015,13:10,BROOKLYN,11213.0,40.669434,-73.925492,"(40.6694339, -73.9254924)",BUFFALO AVENUE,LINCOLN PLACE,NaN,...,Unspecified,NaN,NaN,NaN,3197528,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
28,04/04/2015,13:10,BROOKLYN,11231.0,40.674742,-73.997769,"(40.6747417, -73.9977685)",WEST 9 STREET,SMITH STREET,NaN,...,Unspecified,NaN,NaN,NaN,3197525,NaN,NaN,NaN,NaN,NaN
29,04/04/2015,13:10,MANHATTAN,10036.0,40.760353,-73.991232,"(40.7603532, -73.991232)",WEST 45 STREET,9 AVENUE,NaN,...,NaN,NaN,NaN,NaN,3197318,OTHER,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561920,07/01/2012,11:25,MANHATTAN,10012.0,40.720321,-73.994040,"(40.7203211, -73.9940403)",BOWERY,KENMARE STREET,NaN,...,NaN,NaN,NaN,NaN,5296,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
561921,07/01/2012,11:30,QUEENS,11370.0,40.768916,-73.888727,"(40.7689155, -73.8887269)",DITMARS BOULEVARD,81 STREET,NaN,...,Unspecified,NaN,NaN,NaN,272693,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
561922,07/01/2012,11:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,Unspecified,NaN,NaN,2926943,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN
561923,07/01/2012,11:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,2926942,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
561924,07/01/2012,11:31,QUEENS,11357.0,40.777661,-73.795016,"(40.7776607, -73.7950155)",21 ROAD,169 STREET,NaN,...,Unspecified,NaN,NaN,NaN,245561,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
561925,07/01/2012,11:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,3121370,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
561926,07/01/2012,11:40,BROOKLYN,11229.0,40.597027,-73.953149,"(40.5970272, -73.9531488)",AVENUE V,EAST 18 STREET,NaN,...,Unspecified,NaN,NaN,NaN,116261,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
561927,07/01/2012,11:40,MANHATTAN,10007.0,40.716453,-74.013048,"(40.7164532, -74.0130478)",WARREN STREET,WEST STREET,NaN,...,Unspecified,NaN,NaN,NaN,36,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
561928,07/01/2012,11:40,MANHATTAN,10016.0,40.747925,-73.973607,"(40.747925, -73.973607)",EAST 39 STREET,2 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,32048,LIVERY VEHICLE,UNKNOWN,NaN,NaN,NaN
561929,07/01/2012,11:40,QUEENS,11375.0,40.715310,-73.826381,"(40.7153102, -73.8263815)",UNION TURNPIKE,132 STREET,NaN,...,Unspecified,NaN,NaN,NaN,233128,PICK-UP TRUCK,PASSENGER VEHICLE,NaN,NaN,NaN
561930,07/01/2012,11:45,BROOKLYN,11235.0,40.576827,-73.965096,"(40.576827, -73.9650963)",BRIGHTON BEACH AVENUE,BRIGHTON 2 STREET,NaN,...,Unspecified,NaN,NaN,NaN,113551,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
561931,07/01/2012,11:45,STATEN ISLAND,10309.0,40.526266,-74.201526,"(40.5262662, -74.2015265)",AMBOY ROAD,SEGUINE AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,301245,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
561932,07/01/2012,11:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,2937604,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
561933,07/01/2012,12:00,MANHATTAN,10019.0,40.765991,-73.987123,"(40.7659905, -73.987123)",9 AVENUE,WEST 54 STREET,NaN,...,Unspecified,NaN,NaN,NaN,37638,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
561934,07/01/2012,12:00,NaN,NaN,40.710161,-73.988533,"(40.7101611, -73.9885328)",NaN,NaN,NaN,...,Fatigued/Drowsy,NaN,NaN,NaN,2836634,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
561935,07/01/2012,12:00,NaN,NaN,40.824392,-73.836293,"(40.8243922, -73.836293)",NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,2912094,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
561936,07/01/2012,12:06,QUEENS,11694.0,40.579813,-73.837199,"(40.5798131, -73.8371988)",BEACH 116 STREET,ROCKAWAY BEACH BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,201042,LARGE COM VEH(6 OR MORE TIRES),BUS,NaN,NaN,NaN
561937,07/01/2012,12:07,BROOKLYN,11206.0,40.708627,-73.945124,"(40.7086265, -73.9451243)",MANHATTAN AVENUE,SCHOLES STREET,NaN,...,Unspecified,NaN,NaN,NaN,193933,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
561938,07/01/2012,12:07,BROOKLYN,11206.0,40.708627,-73.945124,"(40.7086265, -73.9451243)",MANHATTAN AVENUE,SCHOLES STREET,NaN,...,Unspecified,NaN,NaN,NaN,193860,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
561939,07/01/2012,12:10,BROOKLYN,11235.0,40.577995,-73.959635,"(40.5779945, -73.9596347)",CONEY ISLAND AVENUE,BRIGHTON BEACH AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,113550,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
561940,07/01/2012,12:10,NaN,NaN,40.727873,-73.929122,"(40.727873, -73.9291223)",NaN,NaN,NaN,...,Failure to Yield Right-of-Way,NaN,NaN,NaN,3044665,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
561941,07/01/2012,12:12,MANHATTAN,10016.0,40.747629,-73.976736,"(40.7476292, -73.9767362)",EAST 37 STREET,3 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,32043,BUS,PASSENGER VEHICLE,NaN,NaN,NaN
561942,07/01/2012,12:15,BROOKLYN,11206.0,40.708627,-73.945124,"(40.7086265, -73.9451243)",SCHOLES STREET,MANHATTAN AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,193862,LARGE COM VEH(6 OR MORE TIRES),PICK-UP TRUCK,NaN,NaN,NaN
561943,07/01/2012,12:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,2912095,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
561944,07/01/2012,12:15,BROOKLYN,11211.0,40.711801,-73.942229,"(40.7118008, -73.9422288)",GRAND STREET,HUMBOLDT STREET,NaN,...,Unspecified,NaN,NaN,NaN,193861,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
561945,07/01/2012,12:18,MANHATTAN,10004.0,40.704798,-74.016685,"(40.7047985, -74.0166846)",BATTERY PLACE,WEST STREET,NaN,...,Unspecified,NaN,NaN,NaN,23,TAXI,TAXI,NaN,NaN,NaN
561946,07/01/2012,12:20,BROOKLYN,11224.0,40.578937,-73.985212,"(40.5789366, -73.9852115)",NEPTUNE AVENUE,CROPSEY AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,113549,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
561947,07/01/2012,12:20,QUEENS,11377.0,40.757847,-73.899213,"(40.7578474, -73.8992132)",31 AVENUE,68 STREET,NaN,...,Unspecified,NaN,NaN,NaN,279783,PASSENGER VEHICLE,VAN,NaN,NaN,NaN
561948,07/01/2012,12:20,NaN,NaN,NaN,NaN,NaN,HYLAN BOULEVARD,NARROWS ROAD SOUTH,NaN,...,Unspecified,NaN,NaN,NaN,293145,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
561949,07/01/2012,12:25,BRONX,10461.0,40.842119,-73.832903,"(40.8421186, -73.832903)",ZULETTE AVENUE,EDISON AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,88537,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN

In [6]:
df_collisions.keys()

Index([u'PROGRAM_LST_ID', u'PROGRAM_CODE', u'PROGRAM_NAME', u'ACTIVE_FLAG',
       u'AGENCY_NAME', u'DESCRIPTION', u'BOROUGH', u'PROG_CONTACT_LAST_NAME',
       u'PROG_CONTACT_FIRST_NAME', u'PROG_CONTACT_PHONE_NO',
       u'PROG_CONTACT_FAX_NO', u'PROG_CONTACT_EXTENSION',
       u'PROG_CONTACT_EMAIL', u'PROGRAM_ADDRESS_1', u'PROGRAM_ADDRESS_2',
       u'PROGRAM_CITY', u'PROGRAM_ZIP', u'OFFICE_MON_FROM_TIME',
       u'OFFICE_MON_TO_TIME', u'OFFICE_TUES_FROM_TIME', u'OFFICE_TUES_TO_TIME',
       u'OFFICE_WED_FROM_TIME', u'OFFICE_WED_TO_TIME',
       u'OFFICE_THURS_FROM_TIME', u'OFFICE_THURS_TO_TIME',
       u'OFFICE_FRI_FROM_TIME', u'OFFICE_FRI_TO_TIME', u'OFFICE_SAT_FROM_TIME',
       u'OFFICE_SAT_TO_TIME', u'OFFICE_SUN_FROM_TIME', u'OFFICE_SUN_TO_TIME'],
      dtype='object')